</br></br>
<div class="card ">

<% if @task.errors.any? %>
        <div class="btn btn-danger" id="error_explanation"> 

            <ul>
                <% if @task.errors.full_messages.length == 1 %>
                    <li><%= @task.errors.full_messages[0] %></li>
                <% else %>
                <li><%= @task.errors.full_messages.join(' and ') %> </li>
                <% end %>
            </ul>
        </div>
    <% end %>

  <div class="card-header">
  
    <h1><%= t("editTask.el.titlePage") %></h1>
  </div>
  <div class="card-body">
        <div class="form-group">
            <%= form_for @task do |f| %>
                <%= f.label :title, class: "control-label"%>
                <div>
                    <%= f.text_field :title, class: "form-control " %>
                </div>
                <%= f.label :content, class: " control-label"%>
                <div >
                    <%= f.text_field :content, class: "form-control " %>
                </div>
                </br>
                <div>
                    <button type="submit" class="btn btn-primary"  id="update-task"><%= t("editTask.el.update") %></button></br>
                    <a class="btn btn-link " href="<%= tasks_path %>" id="back"><%= t("activerecord.attributes.task.back") %></a>
                </div>
            <% end %>
        
        </div>
    </div>
    
    
   
</div>
