</br></br>
<div class="card ">

<% if @task.errors.any? %>
        <div class="btn btn-danger" id="error_explanation"> 

        <ul>
        <% @task.errors.full_messages.each do |message|  %>
            <%if message.include?("P") %>
                <% message = "優先度を入力してください" %>
            <% end %>
            <%if message.include?("De")  %>
                <% message = "終了期限を入力してください"%>
            <% end %>
            <%if message.include?("S")  %>
                <%message = "ステータスを入力してください"%>
            <% end %>
          <li><%= message %></li>
        <% end %>
    </ul>
        </div>
    <% end %>

  <div class="card-header">
  
    <h1><%= t("editTask.el.titlePage") %></h1>
  </div>
  <div class="card-body">
        <div class="form-group">
            <%= form_for @task do |f| %>
                <%= f.label :title, class: "control-label"%>
                <div>
                    <%= f.text_field :title, class: "form-control " %>
                </div>
                <%= f.label :content, class: " control-label"%>
                <div >
                    <%= f.text_field :content, class: "form-control " %>
                </div>
                <%= f.label :終了期限, class: " control-label"%>
                <div>
                <%= f.date_field :deadline_on, class: "form-control " %>
                </div>
                <%= f.label :優先度, class: " control-label "%>
                <div class="form-control row">
                <%= f.select :priority,["高", "中","低"], include_blank: true%>
                </div>
                <%= f.label :ステータス, class: " control-label "%>
                <div class="form-control row">
                <%= f.select :status,["未着手", "着手中","完了"], include_blank: true%>
                </div>
                </br>
                <div>
                    <button type="submit" class="btn btn-primary"  id="update-task"><%= t("editTask.el.update") %></button></br>
                    <a class="btn btn-link " href="<%= tasks_path %>" id="back"><%= t("activerecord.attributes.task.back") %></a>
                </div>
            <% end %>
        
        </div>
    </div>
    
    
   
</div>
