</br></br>

  <div class="card-header">
    <h1>Edit Task Page</h1>
  </div>
  <div class="card-body">
        <div class="form-group">
            <%= form_for @task do |f| %>
                <%= f.label :title,"Title" , class: "control-label"%>
                <div class="">
                    <%= f.text_field :title, class: "form-control " %>
                </div>
                <%= f.label :content,"Content" , class: " control-label"%>
                <div class="">
                    <%= f.text_field :content, class: "form-control " %>
                </div>
                </br>
                <div>
                    <button type="submit" class="btn btn-primary" id="update-user">Update Task</button></br>
                    <a class="btn btn-link " href="<%= root_path %>" id="return">Back</a>
                </div>
            <% end %>
        
        </div>
    </div>
    
    
   
</div>
