</br></br>

<div class="card ">
  <div class="card-header">
    <h1>Tasks Index Page</h1>
  </div>
  <div class="card-body">
  <table class="table">
  <thead>
    <tr>
      <th scope="col"><%= Task.human_attribute_name(:title) %></th>
      <th scope="col"><%= Task.human_attribute_name(:content) %></th>
      <th scope="col"> Created_at </th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at %></td>
        <td> <a id="show-user" class="show-task" class="btn btn-primary "  href="<%= task_path(task.id) %>">Show</a></td>
        <td> <a id="edit-user" class="edit-task" class="btn btn-success "  href="<%= edit_task_path(task.id) %>">Edit</a></td>
        <td> <a id="destroy-user" class="destroy-task" class="btn btn-danger "  href="<%= task_path(task.id) %>" data-confirm="Are you sure?" data-method="delete">Destroy</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
    
</div>
