</br></br>
<div class="card ">
  <div class="card-header">
    <h1>タスク一覧ページ</h1>
  </div>


  <div class="card ">

    <div class="card-body">
          <div class="form-group">
              <%= form_with scope: :search, url: search_path do |f| %>
                  
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <div class="col-md-4"></div>
                      <div class="form-control row">
                        <%= f.label :ステータス, class: " control-label "%>
                        <%= f.select :status,["未着手", "着手中","完了"], include_blank: true%>
                      </div>
                    
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <%= f.label :タイトル, class: "control-label"%>
                      <div>
                          <%= f.text_field :title, class: "form-control " %>
                      </div>
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                  </br>

                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary col-md-12"   id="search_task">検索</button></br>
                    </div>
                    
                    <div class="col-md-4"></div>
                  </div>
                  
              <% end %>
          
          </div>
    </div>
      
  </div>
  
  <div class="card-body">
  <table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t("listTask.el.title") %></th>
      <th scope="col"><%= t("listTask.el.Content") %></th>
      <th scope="col"> <%= t("listTask.el.Created_at") %> </th>
      <th scope="col"><%= link_to "終了期限でソートする", sort_deadline_on: true, class: "btn btn-link" %></th>
      <th scope="col"><%= link_to "優先度", sort_priority: true, class: "btn btn-link" %></th>
      <th scope="col" >ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <% @f = task.created_at.strftime("%Y,%m,%d,%H,%M,%S").split(',')%>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.content %></td>
          <td class = "XPath"><%= task.created_at.in_time_zone('Asia/Tokyo').strftime("%Y-%m-%d  %H:%M:%S %z")%></td>
          <td><%= task.deadline_on %></td>
          <td><%= task.priority %></td>
          <td><%= task.status %></td>
          <td> <a class="btn btn-primary show-task"  href="<%= task_path(task.id) %>"><%= t("listTask.el.show") %></a></td>
          <td> <a class="btn btn-success edit-task"  href="<%= edit_task_path(task.id) %>"><%= t("listTask.el.edit")%></a></td>
          <td> <a class="btn btn-danger destroy-task"  href="<%= task_path(task.id) %>" data-confirm= <%= t("listTask.el.confirm") %> data-method="delete"><%= t("listTask.el.destroy")%></a></td>
        </tr>
      <% end %>
    </tbody>
    
</table>
    </div>
    <%= paginate @tasks %>
</div>
