</br></br>

<div class="card ">
    

    
  <div class="card-header">   
  <h1><%= t("newTask.el.titlePage") %></h1>
  </div>
  
  <div class="card-body">
        <div class="form-group">
            <%= form_for @task do |f| %>
                <%= f.label :title , class: "control-label"%>
                <div class="">
                    <%= f.text_field :title, class: "form-control " %>
                </div>
                <%= f.label :content, class: " control-label"%>
                <div class="">
                    <%= f.text_field :content, class: "form-control " %>
                </div>
                </br>
                <div>
                    <button type="submit" class="btn btn-success" id="create-task"><%= t("activerecord.attributes.task.create") %> </button></br>
                    <a class="btn btn-link " href="<%= tasks_path %>" id="back"><%= t("activerecord.attributes.task.back") %></a>
                </div>
            <% end %>
        
        </div>
    </div>
    
    
   
</div>
