</br></br>

<div class="card ">
   

  <div class="card-header">
  <h1>New Task Page</h1>
  </div>
  <div class="card-body">
        <div class="form-group">
            <%= form_for @task do |f| %>
                <%= f.label :title,"Title" , class: "control-label"%>
                <div class="">
                    <%= f.text_field :title, class: "form-control " %>
                </div>
                <%= f.label :content,"Content" , class: " control-label"%>
                <div class="">
                    <%= f.text_field :content, class: "form-control " %>
                </div>
                </br>
                <div>
                    <button type="submit" class="btn btn-success" id="create-task">Create Task</button></br>
                    <a class="btn btn-link " href="<%= tasks_path %>" id="back">Back</a>
                </div>
            <% end %>
        
        </div>
    </div>
    
    
   
</div>
