<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light ">
      <div class="container-md">
      <% if userSingnIn %>
          <a class="navbar-brand" href="<%= tasks_path %>" id="tasks-index"><%= t("global.menu.home") %></a>
         
          <div class="collapse navbar-collapse" id="navbarCollapse">
              
                <ul class="navbar-nav mr-auto d-inline-flex mt-2 mt-md-0 ms-md-auto">
                  <li class="nav-item active">
                    <a class="nav-link new-task" href="<%= new_task_path %>" id="new-task"><%= t("global.menu.link") %><span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item">		
                  <a class="nav-link my-account" href="<%= labels_path %>" id="labels-index">ラベル一覧</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sign-out" href="<%= new_label_path %>" id="new-label">ラベルを登録する</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link my-account" href="<%= user_path %>" id="my-account">アカウント</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link sign-out" href="<%= destroy_session_path %>" id="sign-out">ログアウト</a>
                  </li>
                  
                  <% if userSingnIn && currentUser.admin === true%>
                    <li class="nav-item active">
                      <a class="nav-link users-index" href="<%= admin_users_path %>" id="users-index">ユーザ一覧<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link my-account add-user" href="<%= new_admin_user_path %>" id="add-user">ユーザを追加する</a>
                    </li>
                  <% end %>
                </ul>
                	
                

              <% else %>
                <form class="form-inline mt-2 mt-md-0 nav-item navbar-nav mr-auto offset-md-12">
                  <a class="nav-link sign-up nav-item " href="<%= new_user_path %>" id="sign-up">アカウント登録 </a>
                  <a class="nav-link sign-in " href="<%= new_session_path %>" id="sign-in">ログイン</a>
                </form>
                
            <% end %>
          </div>
      </div>
    </nav>

    <div class="container-md">
      </br></br></br>
    <% if flash[:success] %>
      <div class="alert alert-success ">
        <%= flash[:success] %>
      </div>
    <%end%>

    <% if flash[:danger] %>
      <div class="alert alert-danger ">
        <%= flash[:danger] %>
      </div>
    <%end%>
      <%= yield %>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
